{% extends "layout.html" %}

{% block title %}Your Cart{% endblock %}

{% block content %}
<div class="container">
    <h1>Your Cart</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Pizza Name</th>
                <th>Topping</th>
                <th>Pizza Size</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            <tr>
                <td>{{ item.pizza_name }}</td>
                <td>{{ item.topping }}</td>
                <td>{{ item.pizza_size }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.pizza_price * item.quantity}}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="text-center">Your cart is empty!</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="modalcheckout" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modallable">Checkout</h4>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('checkout')}}" method="POST">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your name" aria-label="Text input with checkbox" required>
                          </div>
                        <div class="mb-3">
                            <label for="place" class="form-label">Where do you want to eat?</label>
                            <div class="row">
                                <div class="col-4">
                                    <input type="radio" name="place" id="takeout" value="takeout" required>
                                    <label class="custom-radio" for="takeout">Takeout</label>
                                </div>
                                <div class="col-4">
                                    <input type="radio" name="place" id="dinein" value="dinein" required>
                                    <label class="custom-radio" for="dinein">Dine in</label>
                                </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <button class="menu-item-button" type="submit">Place Order</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a href="/clear_cart" class="btn btn-danger">Clear Cart</a>

    <a href="/" class="btn btn-secondary">Back to Home</a>

    <a href="" data-bs-toggle="modal" data-bs-target="#modalcheckout" class="btn btn-sucess">Place Order</a>
</div>

<!-- Bootstrap JS (for table functionality) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
 {% endblock %}