<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mario and Luigi's Pizzeria{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar1">
        <a href="{{ url_for('index') }}" class="navbar-brand">Mario And Luigi's Pizzeria</a>
        <ul class="navbar-navi">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('menu') }}">Menu</a></li>
            <li><a href="/cart"><img src="https://dpznsagmfkgblxagagdm.supabase.co/storage/v1/object/sign/Pizza%20Images/cart-shopping-solid.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJQaXp6YSBJbWFnZXMvY2FydC1zaG9wcGluZy1zb2xpZC5zdmciLCJpYXQiOjE3MzAzNzEzODcsImV4cCI6MTc2MTkwNzM4N30.9OQf-C4jCnnsiH0_b5IgBXAJIdVkacPDuOJtEwFmVHs&t=2024-10-31T10%3A43%3A07.438Z" alt="Shopping Cart"></a></li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div class="container1">
        {% block content %}{% endblock %}
    </div>
</body>
</html>