<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario And Luigi's Pizzeria</title>
</head>
<body>
    {% for item in items%}
        <h1>{{item.PizzaName}}</h1>
        <img src="{{ item.PizzaImage }}" height="70px" alt="PizzaImage">
        <p>{{ item.PizzaPrice }} $</p>
        <p>Extra Toppings</p>
    <select id="{{ item.PizzaName }}">
    {% for topping in item.get_toppings_list() %}
    <option value="{{ topping|lower }}">{{ topping }}</option>
    {% endfor %}
    </select>
    {% endfor %}
</body>
</html>