<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Tracking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Holtwood+One+SC&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <h1>Your order has been received.</h1>
    <div class="track-container">
        {% for order in orders %}
            <h3>Name: {{ order.order_placer }}</h3>
            <h2>{{order.order_place}}</h2>
            <h4>Items:</h4>
            <ul>
                {% for item in order.cart_items %}
                {% if item['pizza_size'] != 'None'%}    
                    <li>{{ item['quantity'] }} x {{ item['pizza_size'] }} {{item['pizza_name']}}</li>
                    <li>• {{ item['topping']}}</li>
                {% else %}
                <li>{{ item['quantity'] }} x {{item['pizza_name']}}</li>

                {% endif %}
                {% endfor %}
            </ul>
            {% if order.order_status == "Received" %}
                <p class="status-text">Order Received</p>
                <div class="progress-container">
                    <div class="progress-bar" style="width: 10%;"></div>
                </div>
            {% elif order.order_status == "Preparing" %}
                <p class="status-text">Preparing</p>
                <div class="progress-container">
                    <div class="progress-bar" style="width: 50%;"></div>
                </div>
            {% elif order.order_status == "Ready" %}
                <p class="status-text">Ready for Pickup</p>
            <div class="progress-container">
                <div class="progress-bar" style="width: 100%;"></div>
            </div>
            <h1>Your order is ready!</h1>
            {% endif%}     
        {% endfor %}
    </div>
</body>
</html>